<div class="container">
  <mat-card>
    <mat-card-title>Welcome to Kanban</mat-card-title>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content
      ><p>
        noun a Japanese manufacturing system in which the supply of components
        is regulated through the use of an instruction card sent along the
        production line.
      </p>
    </mat-card-content>
    <mat-card-footer>
      By Filip - Using fireship.io course
    </mat-card-footer>
  </mat-card>
</div>
